---
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";

import inter400 from "@fontsource/inter/files/inter-latin-400-normal.woff2?url";
import inter500 from "@fontsource/inter/files/inter-latin-500-normal.woff2?url";

import Head from "@/components/base-head.astro";
import Navbar from "@/components/navbar/navbar.astro";
---

<html lang="en">
  <Head>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={inter400}
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      href={inter500}
    />
  </Head>

  <body>
    <Navbar />

    <main class="max-w-body mx-auto px-4 my-20">
      <slot />
    </main>
  </body>
</html>
